{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Welcome to the Medical Health System (MHS) Dashboard</h1>
    <p class="lead text-center">Streamline management processes and access crucial data for decision-making.</p>

    <div class="row text-center mt-5">
        <!-- Employee and Facility Management Section -->
        <div class="col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Employee and Facility Management</h3>
                    <p class="card-text">Provides tools for managing employees, medical offices, outpatient surgery facilities, and interactions with insurance companies. This application facilitates the insertion, updating, and viewing of information related to various entities involved in the healthcare provision process.</p>
                </div>
            </div>
        </div>

        <!-- Patient Management Section -->
        <div class="col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Patient Management</h3>
                    <p class="card-text">Enables comprehensive management of patient records, including the creation of new records, scheduling and updating of appointments, and handling of medical billing and procedures. This section ensures efficient patient flow and billing accuracy.</p>
                </div>
            </div>
        </div>

        <!-- Management Reporting Section -->
        <div class="col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Management Reporting</h3>
                    <p class="card-text">Provides essential reporting tools that support management in making informed decisions. This includes generating reports on daily revenues by facility, listing appointments by physician and date, and analyzing the financial performance over selected periods. These capabilities are crucial for strategic planning and financial management.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
