
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% extends 'base.html' %}

{% block title %}Top 5 Revenue Days{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Top 5 Revenue Days</h1>
         <form method="POST">
        <div class="form-group">
            <label for="monthInput">Select Month:</label>
            <input type="month" id="monthInput" name="monthInput" class="form-control" value="{{ selected_monthyear }}">
            <button type="submit" class="btn btn-primary mt-2">Top Revenue Days</button>
        </div>
    </form>
    <!-- Section for Office facilities -->
    {% if revenues %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Total Revenue</th>
            </tr>
        </thead>
        <tbody>
            {% for revenue in revenues %}
            <tr>
                <td>{{ revenue.revenue_date }}</td>
                <td>{{ revenue.total_revenue }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No Invoices Found.</p>
    {% endif %}
</div>
{% endblock %}